extends layout

block content
  h1= title
  p Welcome to #{title}

  button#getRenewable Get Renewable
  button#getByYear Get Renewable by Year
  button#getByIndex Get Renewable by Index

  pre#debug
