extends layout

block content
  h1= title
  p Welcome to #{title}

  button#getRenewable.basicDiv Get Renewable
  br
  button#getRenewableByYear.basicDiv Get Renewable by Year
    input#getYear(type='number', value='2011')
  br
  button#getRenewableByIndex.basicDiv Get Renewable by Index
    input#getIndex(type='number', value='3')

  pre#debug
