extends layout

block content
  h1= title
  p Welcome to #{title}

  button#getRenewable Get Renewable
  button#getRenewableByYear Get Renewable by Year
  button#getRenewableByIndex Get Renewable by Index

  pre#debug
