extends layout

block content
  h1= title
  p Welcome to #{title}

  button#getRenewable Get Renewable
  button#getRenewableByYear Get Renewable by Year
  input#getYear(type='number', value='2015')
  button#getRenewableByIndex Get Renewable by Index
  input#getIndex(type='number', value='2')


  pre#debug
