//
   Created by bcuser on 5/27/16.
br
br
.jumbotron
    h1 Renewables by Year
br
button#getRenewablesByYear.btn.btn-danger Get Renewable by Year
    input#getYear(type='number', value='2011')

pre#debug

