//
   Created by bcuser on 5/27/16.
br
br
.jumbotron
    h1 Renewables by Index
br
button#getRenewablesByIndex.btn.btn-warning Get Renewable by Index
input#getIndex(type='number', value='3')

pre#debug