//
   Created by bcuser on 6/6/16.

.container
    br
    .jumbotron
        h1 Energy Types
    br
    button#getEnergyTypes.btn.btn-warning Energy Type
    input#getIndex(type='number', value='3')

    pre#debug