//
   Created by bcuser on 6/6/16.


.container
    h1 Energy Overview Page
    .jumbotron
        h1 Energy Overview Page
    br
    button#getEnergyOverview.btn.btn-info Energy Overviews
    input#getIndex(type='number', value='3')

    pre#debug


