extends layout

block content
  h1= title
  p Welcome to #{title}

  button#read Read
  button#readJson ReadJson
  button#readQux ReadQux
  button#add Add

  input#operatorA(type='number', value='2')
  input#operatorB(type='number', value='3')
  pre#display