extends layout

block content
    h1= title
    p Welcome to #{title}

    br
    button.homeMenu.btn.btn-primary Home
    button.aboutMenu.btn.btn-success About
    button.renewable.btn.btn-info Renewable
    button.renewablesByIndexMenu.btn.btn-warning Renewables by Index
    button.renewablesByYearMenu.btn.btn-danger Renewables by Year

    #elf-view
