extends layout

block content
    h1= title
    p Welcome to #{title}

    button#workButton.btn.btn-primary Work
    button#aboutButton.btn.btn-success AboutMain
    button#renewablesButton.btn.btn-primary Renewables
    button#renewablesByIndexButton.btn.btn-warning Renewables By Index
    button#renewablesByIndexYearButton.btn.btn-danger Renewables By Year

    #elf-view
