extends layout

block content
  h1= title
  p Welcome to #{title}

  button#sendString Send String
  p#stringHolder
  p#readyCalled

  button#getItems Get Items
  button#getMarie Get Marie


  ul#myList
